.nav-top {
  overflow: hidden;
  background-color: #022F40;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0; }
  .nav-top * {
    box-sizing: border-box;
    z-index: inherit; }
  .nav-top .nav-title {
    float: left;
    display: block;
    color: #f3ff4f;
    text-align: left;
    padding: 0.8em 0;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 10%;
    width: 30%;
    font-family: 'Amaranth', sans-serif; }
  .nav-top .nav-search-submit {
    margin-right: -39.8%;
    margin-top: 1.76em;
    height: 2.56em;
    width: 6%;
    float: right;
    z-index: 2;
    background-image: linear-gradient(gainsboro, #a4a4a4); }
  .nav-top input {
    margin-right: 16%;
    width: 34%;
    float: right;
    padding: 0.16em 0.5em 0.16em 0.5em;
    border: 1px solid grey;
    margin-top: 1.05em;
    font-size: 1.35em;
    font-family: 'Amaranth', sans-serif; }
  @media screen and (max-width: 800px) {
    .nav-top .nav-title {
      float: none;
      display: block;
      color: #f3ff4f;
      text-align: center;
      padding: 0.8em 0;
      text-decoration: none;
      font-size: 1.7em;
      font-weight: bold;
      width: 100%;
      margin-left: 0;
      font-family: 'Amaranth', sans-serif; }
    .nav-top .nav-search-submit {
      margin-right: -76.5%;
      margin-top: 0em;
      height: 2.56em;
      width: 12%;
      float: right;
      background-image: linear-gradient(gainsboro, #a4a4a4); }
    .nav-top input {
      margin-right: 22.5%;
      width: 65%;
      float: right;
      padding: 0.16em 0.5em 0.16em 0.5em;
      border: 1px solid grey;
      margin-top: 0em;
      margin-bottom: 1.0em;
      font-size: 1.35em;
      font-family: 'Amaranth', sans-serif; } }

.nav-search-submit:hover {
  cursor: pointer; }

.main-container {
  position: relative;
  width: 80%;
  margin: 3rem auto; }
  .main-container * {
    box-sizing: border-box; }

.main-heading {
  color: white;
  font-family: 'Amaranth', sans-serif; }

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.search-result {
  margin-right: 5%; }

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .page-header .main-heading {
    margin-right: 1em;
    display: inline-flex; }
  .page-header .page-button-row {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .page-header .page-button {
    padding: 0 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #04b976;
    color: black;
    display: flex;
    align-items: center;
    height: 2em; }
  .page-header .backward-button i:last-of-type {
    padding-right: 0.25em; }
  .page-header .forward-button i:first-of-type {
    padding-left: 0.25em; }

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: flex-start; }

  .page-header {
    align-self: center; } }
@media screen and (max-width: 600px) {
  .page-header {
    flex-direction: column;
    align-items: center; } }
/* Code below is for the actual list */
.grid {
  display: grid;
  justify-content: space-evenly;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: repeat(auto-fill, 185px); }

.item-card {
  width: 185px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 3px 0 rgba(128, 128, 128, 0.5);
  transition: box-shadow 0.2s; }

.item-card:hover {
  box-shadow: 0px 0px 15px 0 rgba(128, 128, 128, 0.5); }

.item-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 279px;
  cursor: pointer; }
  .item-img-container .item-img {
    height: 100%;
    transition: opacity(0.2s); }
  .item-img-container .item-img:hover {
    opacity: 0.7; }
  .item-img-container .item-not-found {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(33, 54, 54, 0.5);
    padding: 1.5em;
    position: relative;
    transition: background-color(0.2s); }
    .item-img-container .item-not-found span {
      display: inline-block;
      color: lightgrey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .item-img-container .item-not-found:hover {
    background-color: rgba(33, 54, 54, 0.35); }

.item-text {
  width: 100%;
  flex: 1;
  background-color: rgba(33, 54, 54, 0.85);
  padding: 0.5em; }

.item-name-heading, .item-type-heading, .item-cta-heading {
  margin: 0.25em;
  color: white; }

.item-name-heading span:hover {
  cursor: pointer;
  color: lightsalmon; }

.item-type-heading {
  font-style: italic; }

.view-info-overview {
  display: flex;
  width: 100%; }

.view-info-summary {
  width: 75%;
  flex-grow: 3;
  background-color: rgba(33, 54, 54, 0.85);
  border-radius: 0 0.25em 0.25em 0.25em;
  padding: 0 1.5em; }

.view-info-container-img {
  flex-grow: 1;
  text-align: right; }
  .view-info-container-img .view-info-img {
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
    border-radius: 0.25em 0 0 0.25em; }
  .view-info-container-img p {
    width: 100%;
    padding: 0 2em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: lightgrey; }

@media screen and (max-width: 750px) {
  .view-info-overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

  .view-info-container-img .view-info-img {
    border-radius: 0.25em; }
  .view-info-container-img p {
    padding: 0;
    text-align: left; }

  .view-info-summary {
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 0.25em; } }
/*
.view-info-summary-item {
    //border: 2px solid red;
}
*/
.gallery_card {
  display: flex;
  flex-direction: column;
  width: 185px;
  margin-right: 15px;
  border-radius: 1px;
  box-shadow: 0px 0px 3px 0 rgba(128, 128, 128, 0.5); }

.gallery_card_image_container {
  min-width: 185px;
  background-color: rgba(33, 54, 54, 0.4);
  transition: background-color(0.2s);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 279px; }
  .gallery_card_image_container img {
    cursor: pointer;
    transition: opacity(0.2s); }
  .gallery_card_image_container img:hover {
    opacity: 0.7; }
  .gallery_card_image_container p {
    align-self: center; }

.gallery_card_image_container:hover {
  background-color: rgba(33, 54, 54, 0.2);
  cursor: pointer; }

.gallery_title {
  color: white; }

.gallery_card_text {
  color: white;
  padding: 0 8px;
  background-color: rgba(33, 54, 54, 0.85); }
  .gallery_card_text .gallery_card_maintext span:hover {
    cursor: pointer;
    color: lightsalmon; }
  .gallery_card_text .gallery_card_subtext {
    font-style: italic;
    font-size: 0.875em; }

.gallery_container {
  width: 100%;
  position: relative; }
  .gallery_container .gallery_prev, .gallery_container .gallery_next {
    position: absolute;
    background-color: rgba(33, 54, 54, 0.8);
    color: white;
    width: 4em;
    height: 4em;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer; }
  .gallery_container .gallery_prev {
    left: 0px; }
  .gallery_container .gallery_next {
    right: 0px; }

.gallery_track {
  display: flex;
  overflow: hidden;
  align-items: start;
  width: 95%;
  margin: 0 auto;
  padding: 3px; }

.gallery {
  margin: 5em auto; }

.view-info {
  width: 80%;
  margin: auto;
  color: white;
  font-family: 'Open Sans', sans-serif; }
  .view-info * {
    box-sizing: border-box; }

.back_button {
  margin: 2em 0 3em 0;
  padding: 0 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: #04b976;
  color: black;
  display: flex;
  align-items: center; }
  .back_button i {
    padding: 0 0.5em 0 0; }

.footer {
  width: 100%;
  background-color: #022F40;
  padding: 0.25em 0;
  margin-top: auto; }

.footer_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 600px) {
    .footer_container {
      flex-direction: row;
      align-items: center; } }

#creator_notice {
  font-size: 1em;
  flex-basis: 30%;
  color: white; }

#tmdb_notice {
  font-size: 0.875em;
  padding: 0 1em;
  color: white; }

#tmdb_attribution {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

#tmdb_logo {
  width: 60px;
  height: 30px; }

.loading_message, .error_message, .welcome_message {
  width: 80%;
  margin: 2em auto;
  text-align: center;
  color: white; }

html {
  height: 100%; }

body {
  background-image: url("../images/paul-volkmer-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh; }
  body * {
    box-sizing: border-box; }

#App {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.spacer {
  flex: 1; }

/*# sourceMappingURL=styles.css.map */
