.main-container {
  position: relative;
  width: 80%;
  margin: 3rem auto; }
  .main-container * {
    box-sizing: border-box; }

.main-heading {
  color: white;
  font-family: 'Amaranth', sans-serif; }

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.search-result {
  margin-right: 5%; }

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .page-header .main-heading {
    margin-right: 1em;
    display: inline-flex; }
  .page-header .page-button-row {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .page-header .page-button {
    padding: 0 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #04b976;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2em; }
    .page-header .page-button:hover {
      opacity: 0.8; }
  .page-header .backward-button i:last-of-type {
    padding-right: 0.25em; }
  .page-header .forward-button i:first-of-type {
    padding-left: 0.25em; }

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: flex-start; }

  .page-header {
    align-self: center; } }
@media screen and (max-width: 600px) {
  .page-header {
    flex-direction: column;
    align-items: center; } }
/* Code below is for the actual list */
.grid {
  display: grid;
  justify-content: space-evenly;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: repeat(auto-fill, 185px); }

.item-card {
  width: 185px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 3px 0 rgba(128, 128, 128, 0.5);
  transition: box-shadow 0.2s; }

.item-card:hover {
  box-shadow: 0px 0px 15px 0 rgba(128, 128, 128, 0.5); }

.item-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 279px;
  cursor: pointer; }
  .item-img-container .item-img {
    height: 100%;
    transition: opacity(0.2s); }
  .item-img-container .item-img:hover {
    opacity: 0.7; }
  .item-img-container .item-not-found {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(33, 54, 54, 0.5);
    padding: 1.5em;
    position: relative;
    transition: background-color(0.2s); }
    .item-img-container .item-not-found span {
      display: inline-block;
      color: lightgrey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .item-img-container .item-not-found:hover {
    background-color: rgba(33, 54, 54, 0.35); }

.item-text {
  width: 100%;
  flex: 1;
  background-color: rgba(33, 54, 54, 0.85);
  padding: 0.5em; }

.item-name-heading, .item-type-heading, .item-cta-heading {
  margin: 0.25em;
  color: white; }

.item-name-heading span:hover {
  cursor: pointer;
  color: lightsalmon; }

.item-type-heading {
  font-style: italic; }

/*# sourceMappingURL=mainSection.css.map */
