.nav-top {
  display: flex;
  justify-content: space-between;
  background-color: #022F40; }

.nav-title {
  color: #f3ff4f;
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.6em 0;
  text-align: left;
  font-family: 'Amaranth', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold; }

.nav-search {
  width: 50%;
  position: relative; }
  .nav-search .nav-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 70%;
    padding: 0 0.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold; }
  .nav-search .nav-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70%;
    width: 10%;
    display: inline-block;
    line-height: 2.55em; }
  .nav-search .nav-submit:hover {
    cursor: pointer; }

@media screen and (max-width: 800px) {
  .nav-top {
    flex-direction: column;
    justify-content: center; }

  .nav-title {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.6em 0;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold; }

  .nav-search {
    width: 80%;
    margin: 0.5em auto;
    position: relative; }
    .nav-search .nav-input {
      position: static;
      display: inline-block;
      transform: none;
      width: 80%;
      top: 0;
      left: 0; }
    .nav-search .nav-submit {
      position: absolute;
      transform: none;
      top: 0;
      left: 80%;
      width: 20%;
      display: inline-block;
      line-height: 2.55em; } }
/*
.nav-top {
    overflow: hidden;
    background-color: $primary_bg_color;
    width:100%;
    position:sticky;
    z-index: 1;
    top:0;
    
    * {
        box-sizing: border-box;
        z-index: inherit;
    }

    .nav-title {
        float:left;
        display:block;
        color: $primary_title_color;
        text-align: left;
        padding: 0.8em 0;
        text-decoration: none;
        font-size: 1.7em;
        font-weight: bold;
        margin-left: 10%;
        width: 30%;
        font-family: 'Amaranth', sans-serif;
        //border:1px solid red;
    }

    .nav-search-submit {
        margin-right: -39.8%;
        margin-top: 1.76em;
        height: 2.56em;
        width:6%;
        float:right;
        z-index: 2;
        background-image: linear-gradient(rgb(220, 220, 220), rgb(164, 164, 164));
    }

    

    input {
        margin-right: 16%;
        width:34%;
        float:right;
        padding: 0.16em 0.5em 0.16em 0.5em;
        border: $input_border;
        //border-radius: 0.5em;
        margin-top: 1.05em;
        font-size: 1.35em;
        font-family: 'Amaranth', sans-serif;
    }

    //mobile
    @media screen and (max-width:800px) {
        .nav-title {
            float:none;
            display:block;
            color: $primary_title_color;
            text-align: center;
            padding: 0.8em 0;
            text-decoration: none;
            font-size: 1.7em;
            font-weight: bold;
            width: 100%;
            margin-left: 0;
            font-family: 'Amaranth', sans-serif;
            //border:1px solid red;
        }

        .nav-search-submit {
            margin-right: -76.5%;
            margin-top: 0em;
            height: 2.56em;
            width:12%;
            float:right;
            background-image: linear-gradient(rgb(220, 220, 220), rgb(164, 164, 164));
        }

        input {
            margin-right: 22.5%;
            width:65%;
            float:right;
            padding: 0.16em 0.5em 0.16em 0.5em;
            border: $input_border;
            //border-radius: 0.5em;
            margin-top: 0em;
            margin-bottom:1.0em;
            font-size: 1.35em;
            font-family: 'Amaranth', sans-serif;
        }
    }

}

.nav-search-submit:hover {
    cursor: pointer;
}
*/

/*# sourceMappingURL=navTop.css.map */
