
@import "navTop";
@import "mainSection";
@import "viewInfo";
@import "footer";
@import "alertmessages";

//https://unsplash.com/photos/qVotvbsuM_c
//Photo by Paul Volkmer on Unsplash
html {
    height: 100%;
}

body {
    background-image: url("../images/paul-volkmer-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    
    * {
        box-sizing: border-box;
    }
}

#App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1;
}



