@import "viewInfoOverview";
@import "viewInfoGallery";
@import "navButton";

$view_info_container_width: 80%;

.view-info {
    width: $view_info_container_width;
    margin: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;

    
    * {
        box-sizing: border-box;
    }  
    
}

.back_button {
    margin: 2em 0 3em 0;
    @include nav_button;

    i {
        padding: 0 0.5em 0 0 ;
    }
}






